<?xml version="1.0"?>
<!--
/**
 * @category    Ch
 * @package     Ch_Entity
 * @copyright   Copyright (c) 2011 Sergey Cherepanov. (http://www.cherepanov.org.ua)
 * @license     http://www.gnu.org/licenses/gpl.html GNU GENERAL PUBLIC LICENSE v3.0
 */
-->
<config>
    <modules>
        <Ch_Entity>
            <version>1.0.0.0</version>
        </Ch_Entity>
    </modules>
    <global>
        <blocks>
            <ch_entity>
                <class>Ch_Entity_Block</class>
            </ch_entity>
        </blocks>
        <helpers>
            <ch_entity>
                <class>Ch_Entity_Helper</class>
            </ch_entity>
        </helpers>
        <models>
            <ch_entity>
                <class>Ch_Entity_Model</class>
                <resourceModel>ch_entity_resource</resourceModel>
            </ch_entity>
            <ch_entity_resource>
                <class>Ch_Entity_Model_Resource</class>
                <entities>
                    <entity><table>advanced_entity</table></entity>
                    <entity_type><table>advanced_entity_type</table></entity_type>
                </entities>
            </ch_entity_resource>
        </models>
        <resources>
            <ch_entity_setup>
                <setup>
                    <module>Ch_Entity</module>
                    <class>Ch_Entity_Model_Resource_Setup</class>
                </setup>
            </ch_entity_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ch_Entity before="Mage_Adminhtml">Ch_Entity_Adminhtml</Ch_Entity>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ch_entity>
                    <file>ch_entity.xml</file>
                </ch_entity>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <ch_entity>
                    <file>ch_entity.xml</file>
                </ch_entity>
            </updates>
        </layout>
    </frontend>
    <default>
        <web>
            <routers>
                <ch_entity>
                    <area>frontend</area>
                    <class>Ch_Entity_Controller_Router_Standard</class>
                </ch_entity>
            </routers>
        </web>
    </default>
</config>
